[Unit]
Description=A simple go API for returning the requestor's IP address

[Service]
Type=simple
ExecStart=/usr/bin/myip

[Install]
WantedBy=multi-user.target
